<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="components.css">
</head>
<body>
    <div class="design">
        <h1> Design Components </h1>
    </div>
    <p class="color"> Main Colors </p> 
    <div class="maincolors">
            <span class="cream">#D7CDCC</span>
            <span class="white">#FFFFFF</span>
            <span class="darkgray">#59656F</span>
            <span class="purple">#9C528B</span>
            <span class="black">#000000</span>
    </div>
    <div>
        <p class="mainfont"> Typography / Font </p>   
        <p class="mainfontName">ROBOTO</p>
    </div>
    <div>
        <p class="mainfont"> Buttons </p>   
        <button class="addButton">ADD</button>
    </div>
    <div>
        <p class="mainfont"> Headings / Titles </p>   
        <p class="mainfontHeading">40px - Bold</p>
    </div>
    <div class="newsletter">
        <h1>News Letter</h1>
        <input type="text" name="" id=""><button class="addButton">Subscribe</button>
        </div>
    <h1> Component 1 </h1>
    <div class="grid">
        <div class="box"><img src="../svg/hammer-svgrepo-com.svg" alt=""></div>
        <div class="box"><img src="../svg/ladder-svgrepo-com.svg" alt=""></div>
        <div class="box"><img src="../svg/hammer-svgrepo-com.svg" alt=""></div>
        <div class="box"><img src="../svg/hammer-svgrepo-com.svg" alt=""></div>
        <div class="box"><img src="../svg/ladder-svgrepo-com.svg" alt=""></div>
        <div class="box"><img src="../svg/hammer-svgrepo-com.svg" alt=""></div>
        <div class="box"><img src="../svg/hammer-svgrepo-com.svg" alt=""></div>
        <div class="box"><img src="../svg/hammer-svgrepo-com.svg" alt=""></div>
        <div class="box"><img src="../svg/ladder-svgrepo-com.svg" alt=""></div>
      </div>
      <h1> Component 2 </h1>
      <div class="grid2">
        <div class="box grid2Innerbox" style="width: 208px; height: 208px;"><img src="../svg/hammer-svgrepo-com.svg" alt="" style="width: 145px; height: 145px;"></div>
        <div class="box box2">
            <p>Available</p>
            <button class="addButton">ADD</button>
        </div>
        <div>
            <p class="grid2text">Hammer for multiple task.</p>
        </div>
      </div> 
      <h1> Component 3 </h1>
      <div class="grid3">
        <div class="box3"><img src="../svg/hammer-svgrepo-com.svg" alt="" style="width: 80px; height: 80px;"></div>
        <div class="box3"><h2 style="color: #ffffff;">Confirmation</h2></div>
        <div class="box3"><p style="color: #ffffff;">Hammer has been booked from 14th feb to 21 feb.</p></div>
        <div class="box5">
        <p class="heading">Pickup Address:</p>
        <p class="address">Maltagatan 1 , 232 18 Lirum</br>
        Ph#: 0700 111 222</p>
        </div>
      </div> 
</body>
</html>